---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import bethPortrait from "@assets/beth_ette_portrait.webp";
import melaniePortrait from "@assets/melanie_ette_portrait.webp";
import noraPortrait from "@assets/nora_ette_portrait.webp";
import Image from "astro/components/Image.astro";
import { winter2024 } from "@editions/winter2024";
---

<SiteLayout title="About | -ette review">
  <MainLayout issueTitle={"Issue II: Winter 2024"} issue={"winter2024"} authors={winter2024}>
    <div class="text">
      <section>
        <p>
          <span class="italic">-ette</span>'s editors, <strong>Beth Hahn</strong> and <strong>Nora
          Maynard</strong>, met at Bread Loaf Writers' Conference in Amy Hempel's
          workshop. They share a love of gorgeous prose, writing that arcs
          strange, and small-form work. They bonded over Murakami, cats, and
          music (Nora plays violin; Beth, guitar).
        </p>

        <p>
          Beth met <strong>Melanie Hoopes</strong> when Melanie signed up for Beth's fiction
          workshop in March of 2020. They met once in-person, right before the
          pandemic, and then zoomed for two years. That class morphed into a
          writing group and Beth and Melanie morphed into friends. <span
            class="italic">Pod-ette</span
          >, <span class="italic">-ette</span>'s companion podcast, is created
          and produced by Melanie.
        </p>

        <p>
          <span class="italic">-ette</span>&nbsp;is seasonal, small, and
          publishes flash fiction, micro, and prose poetry. Future issues of <span
            class="italic">-ette</span
          > will be themed:&nbsp;<span class="italic"
            >cassette, roulette, planchette, lunette, dinette, majorette,&nbsp;</span
          >with every other issue returning to <span class="italic">-ette</span
          >.
        </p>

        <p>
          Please sign up for our mailing list at mailinglist@ettereview.com. You
          can leave the email blank. We will hold on to your information and
          only contact you about themes, submissions, and new issues.
        </p>
      </section>
      <hr />
      <section>
        <Image
          alt="Portrait of Beth."
          src={bethPortrait}
          width="300"
          height="360"
        />
        <p>
          <strong>Beth Hahn</strong> (she/her) works in novel, short story, flash,
          poetry, and essay. She is the author of <span class="italic"
            >The Singing Bone</span
          >
          (Regan Arts, 2016) and <span class="italic">The City Beneath Her</span
          > (Regal House, 2025). Her writing has been published in <span
            class="italic">RUBY Literary</span
          >, <span class="italic">The Chestnut Review</span>, <span
            class="italic">Tiny Molecules</span
          >, <span class="italic">DMQ Review</span>, <span class="italic"
            >The Night Heron Barks</span
          > and <span class="italic">Ran Off with the Star Bassoon</span>, <span
            class="italic">Small Orange Journal</span
          >, <span class="italic">The Common</span>, <span class="italic"
            >Milk Candy Review</span
          >, <span class="italic">Fractured Lit</span>, <span class="italic"
            >CRAFT</span
          >, and elsewhere.
        </p>

        <p>
          Beth attended the Ragdale Foundation, the Wellstone Center in the
          Redwoods, the Bread Loaf Writers' Conference, and has an MFA from
          Sarah Lawrence College. Beth has taught novel writing and short
          fiction for many years, and her former students are well and broadly
          published. She will be offering writing workshops and manuscript
          critiques through <span class="italic">-ette</span> in the future.
        </p>

        <p>
          As an undergraduate, Beth attended the Pennsylvania Academy of the
          Fine Arts where she majored in printmaking. She was a first generation
          web developer and designed and maintains the <span class="italic"
            >-ette</span
          >
          website as well as illustrates each issue of <span class="italic"
            >-ette</span
          >. Find more about Beth at <a
            class="link"
            href="https://beth-hahn.com/">beth-hahn.com</a
          >
        </p>
      </section>

      <section>
        <Image
          src={noraPortrait}
          alt="Portrait of Nora."
          width="300"
          height="360"
        />
        <p>
          <strong>Nora Maynard</strong> (she/her) is a freelance writer based in
          New York City.
        </p>

        <p>
          Her short fiction, essays, interviews, and food writing have appeared
          in <span class="italic"
            >Salon, The Millions, the Ploughshares blog, HAD, Pangyrus, Atticus
            Review, Drunken Boat, Killing the Buddha, Leite’s Culinaria, Food
            Republic,</span
          > and elsewhere. She did a six-year run as a weekly columnist for&nbsp;<span
            class="italic">Apartment Therapy: The Kitchn.</span
          >
        </p>

        <p>
          Nora is a graduate of the University of Toronto, Trinity College, and
          earned a Certificate in Book Publishing from Toronto Metropolitan
          University. She worked in publishing for close to a decade at Penguin
          Canada, HarperCollins USA, and others.
        </p>

        <p>
          Nora has received fiction fellowships from Millay Arts, Ragdale,
          Ucross, Blue Mountain Center, and The Artists’ Enclave at I-Park, and
          is a winner of the Bronx Writers’ Center/Bronx Council on the Arts’
          Chapter One Competition. She’s a past President of the Board of
          Directors for Millay Arts. She is at work on a novel. Find more about
          Nora at&nbsp;<a class="link" href="https://www.noramaynard.com/"
            >noramaynard.com</a
          >.
        </p>
      </section>

      <section>
        <Image
          alt="Portrait of Melanie."
          src={melaniePortrait}
          width="300"
          height="360"
        />
        <p>
          <strong>Melanie Hoopes</strong> (she/her) is a writer whose credits include
          <span class="italic"
            >Six Feet: A Play About What’s Between Us
          </span>(RiverArts), <span class="italic">Kindness Committee</span> (RiverArts)
          <span class="italic">Lethal Lit</span> (IHeartRadio, EEP), <span
            class="italic"
            >One Giant Leap: The Apollo Moon Landing 50 Years On</span
          > (New York Times), <span class="italic">Bloodline</span> (Netflix) and
          the musical
          <span class="italic">Murderbirds!</span> (RivertownsLab). She is the creator
          and writer of the long-running New York-based episodic stage show,
          <span class="italic">Laurie Stanton’s Sound Diet</span>, a dark,
          modern twist on <span class="italic">Prairie Home Companion</span>.
          She is thrilled to be working on <span class="italic">pod-ette</span>,
          and she is also a producer and host of <span class="italic"
            >Yesteryear: Stories from Home</span
          >, a podcast about the history of living on the Hudson River.
        </p>

        <p>
          Melanie is the drummer with The GoGos’ tribute band, Hot Flash. For
          more info on Melanie, go to
          <a class="link" href="https://www.melaniehoopes.com/">
            melaniehoopes.com.</a
          >
        </p>
      </section>
    </div>
    <div class="empty"></div>
  </MainLayout>
</SiteLayout>

<style lang="scss">
  .text {
    :global(img) {
      display: block;
      float: left;
      margin-right: 2rem;
    }
  }
  hr {
    margin-top: 4rem;
  }
  section + section {
    margin-top: 4rem;
  }
  .link {
    color: var(--clr-gray);
    &:hover {
      color: var(--clr-orange);
    }
  }
</style>
