---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
---

<SiteLayout>
  <MainLayout>
    <div class="main-content contact">
      <section>
        <h1><strong>pod-ette</strong></h1>

        <p></p>

        <h2>with Melanie Hoopes</h2>

        <p></p>

        <p>
          Welcome to <span class="italic">pod-ette</span>, the podcast companion
          to the literary magazine <span class="italic">-ette</span>! In our
          inaugural episode we talk with <span class="italic">-ette</span> founders
          Beth Hahn and Nora Maynard. Our featured piece is "If I Could Remake the
          World" by Andrew Bertaina and we’ll hear from Andrew about the inspiration
          for the piece. Original music for <span class="italic">pod-ette</span>
          is by Chester Jankowski.
        </p>

        <p>
          Listen to <span class="italic">pod-ette</span> here: <a
            href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/pod-ette-e29e24p"
            >Episode 1: "If I Could Remake the World"</a>
        </p>

        <p>Thanks for listening!</p>
      </section>

      <ul class="social-links">
        <li>
          <a href="https://www.facebook.com/profile.php?id=100092343586387"
            ><img
              alt="Facebook logo."
              class="social-icon"
              src="../img/icons/facebook.svg"
            />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ettereview/"
            ><img
              alt="Instagram logo."
              class="social-icon"
              src="../img/icons/instagram.svg"
            />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/EtteReview"
            ><img
              alt="Twitter logo."
              class="social-icon"
              src="../img/icons/twitter.svg"
            />
          </a>
        </li>
      </ul>
    </div>
  </MainLayout>
</SiteLayout>
