---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import podette from "@assets/podette.webp";
import SocialNav from "@components/SocialNav.astro";
import { Image } from "astro:assets";
import { winter2025 } from "@editions/winter2025";
---

<SiteLayout title="podette | -ette review">
  <MainLayout
    issueTitle={"Issue IV: Winter 2025"}
    issue={"winter2025"}
    authors={winter2025}
  >
    <div class="text">
      <section>
        <h1><strong>pod-ette</strong></h1>

        <p></p>

        <h2>with Melanie Hoopes</h2>

        <p></p>

        <p>
          Welcome to <span class="italic">pod-ette</span>, the podcast companion
          to the literary magazine <span class="italic">-ette</span>! </p>

<p>In Episode 3, Melanie Hoopes remembers a talk show host talking smack about writers and rushes to their defense. She chats with Cathy Ulrich (“Being the Murdered Jane Doe”), Bryana Joy (“What Audrey One Did” and “What Ophelia Did”), and Kelle Groom (“Babylonian Almanac”). As well as telling us how their pieces came to be, this issue’s writers share how and where they write best. Original music for <span class="italic">pod-ette</span> is by Chester Jankowski.</p>

<p>Listen to <span class="italic">pod-ette</span> here: <a
  href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-3---Cavettes-Wrong-e2p13hn"
  >Episode 3: Cavett(e)’s Wrong</a></p>

<p><div class="center">***</div>

<p>In Episode 2, host Melanie Hoopes talks with <span class="italic">-ette</span> founders Beth Hahn and Nora Maynard about Issue 2's theme, cassette. We’ll also take a look at the art on the website and discuss the process of matching the visual with the written word. Melanie reads “Artichoke Hearts” by Michael Czyzniejewski and “Another Way to Say Divorce” by Kelli Russell Agodon. The writers share their favorite advice for us. Original music for <span class="italic">pod-ette</span> is by Chester Jankowski.

 <p>Listen to <span class="italic">pod-ette</span> here: <a
            href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-2---Cassette-e2gdsp1"
            >Episode 2: Cassette</a></p>

  <p>Thanks for listening!</p>


<p><div class="center">***</div>
</p>

<p>In our inaugural episode we talk with <span class="italic">-ette</span> founders
          Beth Hahn and Nora Maynard. Our featured piece is "If I Could Remake the
          World" by Andrew Bertaina and we’ll hear from Andrew about the inspiration
          for the piece. Original music for <span class="italic">pod-ette</span>
          is by Chester Jankowski.
        </p>

        <p>
          Listen to <span class="italic">pod-ette</span> here: <a
            href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/pod-ette-e29e24p"
            >Episode 1: "If I Could Remake the World"</a
          >
        </p>

<p><div class="center">***</div>
</p>
    
      </section>
    </div>
    <Image src={podette} alt="Watercolor of radio" width="400" height="410.5" />
  </MainLayout>
</SiteLayout>

<style>
  
  :root {
    --clr-bg-primary: var(--clr-bg-winter2025);
  }
  a {
    color: var(--clr-gray);
    &:hover {
      color: var(--clr-orange);
    }
  }
</style>
