---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import podette from "@assets/podette.webp";
import SocialNav from "@components/SocialNav.astro";
import { Image } from "astro:assets";
import { winter2024 } from "@editions/winter2024";
---

<SiteLayout title="podette | -ette review">
  <MainLayout
    issueTitle={"Issue II: Winter 2024"}
    issue={"winter2024"}
    authors={winter2024}
  >
    <div class="text">
      <section>
        <h1><strong>pod-ette</strong></h1>

        <p></p>

        <h2>with Melanie Hoopes</h2>

        <p></p>

        <p>
          Welcome to <span class="italic">pod-ette</span>, the podcast companion
          to the literary magazine <span class="italic">-ette</span>! </p>

<p>In Episode 2, host Melanie Hoopes talks with <span class="italic">-ette</span> founders Beth Hahn and Nora Maynard about Issue 2's theme, cassette. We’ll also take a look at the art on the website and discuss the process of matching the visual with the written word. Melanie reads “Artichoke Hearts” by Michael Czyzniejewski and “Another Way to Say Divorce” by Kelli Russell Agodon. The writers share their favorite advice for us. Original music for <span class="italic">pod-ette</span> is by Chester Jankowski.

 <p>Listen to <span class="italic">pod-ette</span> here: <a
            href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-2---Cassette-e2gdsp1"
            >Episode 2: Cassette</a></p>

    <p>Thanks for listening!</p>


<p><div class="center">***</div>
</p>

<p>In our inaugural episode we talk with <span class="italic">-ette</span> founders
          Beth Hahn and Nora Maynard. Our featured piece is "If I Could Remake the
          World" by Andrew Bertaina and we’ll hear from Andrew about the inspiration
          for the piece. Original music for <span class="italic">pod-ette</span>
          is by Chester Jankowski.
        </p>

        <p>
          Listen to <span class="italic">pod-ette</span> here: <a
            href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/pod-ette-e29e24p"
            >Episode 1: "If I Could Remake the World"</a
          >
        </p>

    
      </section>
    </div>
    <Image src={podette} alt="Watercolor of radio" width="400" height="410.5" />
  </MainLayout>
</SiteLayout>

<style>
  a {
    color: var(--clr-link-hover);
  }
</style>
