---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import podette from "@assets/podette.webp";
import SocialNav from "@components/SocialNav.astro";
import { Image } from "astro:assets";
import { winter2026 } from "@editions/winter2026";
---

<SiteLayout title="pod-ette | -ette review">
  <MainLayout
    issueTitle={"Issue 7: Winter 2026"}
    issue={"winter2026"}
    authors={winter2026}
  >
    <div class="text">
      <section>
        <h1><strong><span class="italic">pod-ette</span></strong></h1>

        <p></p>

        <h2>with Melanie Hoopes</h2>

        <p></p>

        <p>
          Welcome to <span class="italic">pod-ette</span>, the podcast companion
          to the literary magazine <span class="italic">-ette</span>! </p>

<p>In Episode 7, Melanie finds comfort in snowbanks and A Tree, A Rock, A Cloud. She talks with Adam McOmber (“Things That Are Ghosts”) and Marc Kaufman (“Speak of the Woman”) about interactions with buildings and poems that have rocked their world. Original music for <span class="italic">pod-ette</span> is by <a href="http://www.chesterjankowski.com">Chester Jankowski.</a></p>

<p>Listen to <span class="italic">pod-ette</span> here: <a href="https://open.spotify.com/episode/2hginEkbMScX5zNfaJLQVm">Episode 7: Time Keeps on Slippin’</a></p>

  <p><div class="center">***</div>


<p>In Episode 6, Melanie gives a prescription for these preposterous times: a heavy dose of art (among other things). She talks with Rachel Kowalsky (“Dear Dolores”) and Matt Leibel (“How to Buy a Snow Globe”) about work that has recently reconfigured them. Original music for <span class="italic">pod-ette</span> is by <a href="http://www.chesterjankowski.com">Chester Jankowski.</a></p>

<p>Listen to <span class="italic">pod-ette</span> here: <a
  href="https://open.spotify.com/episode/60GBYE6bYWWQJXf7YgdHLi"
  >Episode 6—Roulette: Take a Chance on Art</a></p>

  <p><div class="center">***</div>

<p>In Episode 5, Melanie Hoopes is existing in a gloomy fantasy world until she finds a little glimmer of hope in the re-creation of a horrendous natural disaster. She visits with S.D. Pergola (“Thoughts on the Incoming Snow”), Jessica Barlevi (“Forest of Light”), and Amy Holman (“Stuck”) about how they are faring in these treacherous times. Original music for <span class="italic">pod-ette</span> is by <a href="http://www.chesterjankowski.com">Chester Jankowski.</a></p>

<p>Listen to <span class="italic">pod-ette</span> here: <a
  href="https://creators.spotify.com/pod/profile/mhoopes-us/episodes/Episode-5---The-Villa-of-Mysteries-e32k5kt"
  >Episode 5: The Villa of the Mysteries</a></p>

  <p><div class="center">***</div>

<p>In Episode 4, Melanie Hoopes calls out Billy Joel and reveals where she’s keeping her hat for the next few weeks. She chats with Krista Madsen (“Little Miss 1565”) and Tara Isabel Zambrano (“We mistook the dragonfly for forever”), who share their biggest writing challenges and how they overcome them. Original music for <span class="italic">pod-ette</span> is by <a href="http://www.chesterjankowski.com">Chester Jankowski.</a></p>

<p>Listen to <span class="italic">pod-ette</span> here: <a
  href="https://open.spotify.com/show/5rlvi1S1p5ehxoTJAwITW2"
  >Episode 4: The Looming</a></p>

  <p><div class="center">***</div>

          <p>In Episode 3, Melanie Hoopes remembers a talk show host talking smack about writers and rushes to their defense. She chats with Cathy Ulrich (“Being the Murdered Jane Doe”), Bryana Joy (“What Audrey One Did” and “What Ophelia Did”), and Kelle Groom (“Babylonian Almanac”). As well as telling us how their pieces came to be, this issue’s writers share how and where they write best. Original music for <span class="italic">pod-ette</span> is by Chester Jankowski.</p>

<p>Listen to <span class="italic">pod-ette</span> here: <a
  href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-3---Cavettes-Wrong-e2p13hn"
  >Episode 3: Cavett(e)’s Wrong</a></p>

<p><div class="center">***</div>

<p>In Episode 2, host Melanie Hoopes talks with <span class="italic">-ette</span> founders Beth Hahn and Nora Maynard about Issue 2's theme, cassette. We’ll also take a look at the art on the website and discuss the process of matching the visual with the written word. Melanie reads “Artichoke Hearts” by Michael Czyzniejewski and “Another Way to Say Divorce” by Kelli Russell Agodon. The writers share their favorite advice for us. Original music for <span class="italic">pod-ette</span> is by Chester Jankowski.

 <p>Listen to <span class="italic">pod-ette</span> here: <a
            href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-2---Cassette-e2gdsp1"
            >Episode 2: Cassette</a></p>


<p><div class="center">***</div>
</p>

<p>In our inaugural episode we talk with <span class="italic">-ette</span> founders
          Beth Hahn and Nora Maynard. Our featured piece is “If I Could Remake the
          World” by Andrew Bertaina and we’ll hear from Andrew about the inspiration
          for the piece. Original music for <span class="italic">pod-ette</span>
          is by Chester Jankowski.
        </p>

        <p>
          Listen to <span class="italic">pod-ette</span> here: <a
            href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/pod-ette-e29e24p"
            >Episode 1: “If I Could Remake the World”</a
          >
        </p>

<p><div class="center">***</div>
</p>
    
      </section>
    </div>
    <Image src={podette} alt="Watercolor of radio" width="400" height="410.5" />
  </MainLayout>
</SiteLayout>

<style>  
  :root {
    --clr-bg-primary: var(--clr-bg-winter2026);
  }
  a {
    color: var(--clr-gray);
    &:hover {
      color: var(--clr-orange);
    }
  }
</style>
