---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import podette from "@assets/podette.webp";
import SocialNav from "@components/SocialNav.astro";
import { Image } from "astro:assets";
---

<SiteLayout>
  <MainLayout>
    <div class="text">
      <section>
        <h1><strong>pod-ette</strong></h1>

        <p></p>

        <h2>with Melanie Hoopes</h2>

        <p></p>

        <p>
          Welcome to <span class="italic">pod-ette</span>, the podcast companion
          to the literary magazine <span class="italic">-ette</span>! In our
          inaugural episode we talk with <span class="italic">-ette</span> founders
          Beth Hahn and Nora Maynard. Our featured piece is "If I Could Remake the
          World" by Andrew Bertaina and we’ll hear from Andrew about the inspiration
          for the piece. Original music for <span class="italic">pod-ette</span>
          is by Chester Jankowski.
        </p>

        <p>
          Listen to <span class="italic">pod-ette</span> here: <a
            class="link"
            href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/pod-ette-e29e24p"
            >Episode 1: "If I Could Remake the World"</a
          >
        </p>

        <p>Thanks for listening!</p>
      </section>

      <SocialNav
        facebookUrl={"https://www.facebook.com/profile.php?id=100092343586387"}
        twitterUrl={"https://www.instagram.com/ettereview/"}
        instagramUrl={"https://twitter.com/EtteReview"}
      />
    </div>
    <Image src={podette} alt="Watercolor of radio" width="400" height="410.5" />
  </MainLayout>
</SiteLayout>
