---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import SocialNav from "@components/SocialNav.astro";
import { Image } from "astro:assets";
import etteEnvelope from "@assets/etteenvelope.webp";
import { winter2025 } from "@editions/winter2025";
---

<SiteLayout title="Contact | -ette review">
  <MainLayout
    issueTitle={"Issue 4: Winter 2025"}
    issue={"winter2025"}
    authors={winter2025}
  >
    <div class="container-primary">
      <div class="text">
        <section>
          <p>
            Please sign up for our mailing list by writing to <a
              href="mailto:mailinglist@ettereview.com"
              class="link">mailinglist@ettereview.com</a
            >. Just put "subscribe" in the header. Thanks! We'll only send you <span
              class="italic">-ette</span
            > updates and submission calls.
          </p>
          <SocialNav
            blueskyUrl={"https://bsky.app/profile/ettereview.bsky.social"}
          />
        </section>
      </div>
      <Image
        src={etteEnvelope}
        alt="Envelope with 'ette' written on the back"
        width="400"
      />
    </div>

    <style>
      :root {
        --clr-bg-primary: var(--clr-bg-winter2025);
      }
      a {
    color: var(--clr-gray);
    &:hover {
      color: var(--clr-orange);
    }
  }
    </style>
    

  </MainLayout>
</SiteLayout>
