<div>
  <section>
    <p>
      Please sign up for our mailing list by writing to <a
        href="mailto:mailinglist@ettereview.com">mailinglist@ettereview.com</a
      >. Just put "subscribe" in the header. Thanks! We'll only send you <span
        class="italic">-ette</span
      > updates and submission calls.
    </p>

    <SocialLinks />
  </section>
  <section>
    <img src="" alt="" />
  </section>
</div>
