---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import SocialNav from "@components/SocialNav.astro";
import { Image } from "astro:assets";
import etteEnvelope from "@assets/etteenvelope.webp";
import { winter2026 } from "@editions/winter2026";
---

<SiteLayout title="Writer Index | -ette review">
  <MainLayout
    issueTitle={"Issue 7: Winter 2026"}
    issue={"winter2026"}
    authors={winter2026}
  >
    <div class="container-primary">
      <div class="text">
        <section>
          <div class="center">
            <h1><strong>Writer Index</strong></h1>
          </div>
          <p></p>
<div class="center">A</div>

<p>
  Agodon, Kelli Russell<br>
  <a href="https://ettereview.com/archive/winter2024/agodon/">“Another Way to Say Divorce”* & “Box Where Four Women Look in Opposite Directions”</a> Issue 2, Winter 2024: Cassette<br>
    *Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-2---Cassette-e2gdsp1">Episode 2: Cassette</a>
</p>

<div class="center">B</div>

<p>
  Barlevi, Jessica<br>
  <a href="https://ettereview.com/spring2025/barlevi/">“Forest of Light”* & “Gravity”</a> Issue 5, Spring 2025<br>
*Featured on <span class="italic">pod-ette</span> <a href="https://creators.spotify.com/pod/profile/mhoopes-us/episodes/Episode-5---The-Villa-of-Mysteries-e32k5kt">Episode 5: The Villa of the Mysteries</a>
</p>

<p>
  Barnes, Amy<br>
  <a href="https://ettereview.com/archive/winter2024/barnes/">“Love Her Tender”</a> Issue 2, Winter 2024: Cassette
</p>

<p>
  Bertaina, Andrew<br>
  <a href="https://ettereview.com/archive/fall2023/bertaina/">“If I Could Remake the World” & “My Lover and I”</a> Issue 1, Fall 2023<br>
  Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/pod-ette-e29e24p">Episode 1: “If I Could Remake the World”</a>
</p>

<p>
  Bidar, Patricia Q.<br>
  <a href="https://ettereview.com/archive/fall2023/bidar/">“Kanreki”</a> Issue 1, Fall 2023
</p>

<p>
  Blum, Genia<br>
  <a href="https://ettereview.com/archive/winter2024/blum/">“The Casino Tapes”</a> Issue 2, Winter 2024: Cassette
</p>

<div class="center">C</div>

<p>
  Cailler, Mathieu<br>
  <a href="https://ettereview.com/spring2025/cailler/">“Four of a Kind” & “My Evening with Marilyn”</a> Issue 5, Spring 2025
</p>

<p>
  Camp, Lauren<br>
  <a href="https://www.ettereview.com/winter2026/camp/">“The Bowl” & “A Spell Addressed to a Friend”</a> Issue 7, Winter 2026
</p>

<p>
  Carle, Avitus B.<br>
  <a href="https://ettereview.com/archive/fall2023/carle/">“Breaker Boys”</a> Issue 1, Fall 2023
</p>

<p>
  Cronk, Laura<br>
  <a href="https://ettereview.com/fall2025/cronk/">“The Chance”</a> Issue 6, Fall 2025: Roulette
</p>

<p>
  Czyzniejewski, Michael<br>
  <a href="https://ettereview.com/archive/winter2024/czyzniejewski/">“Artichoke Heart”</a> Issue 2, Winter 2024: Cassette<br>
  Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-2---Cassette-e2gdsp1">Episode 2: Cassette</a>
</p>

<div class="center">D</div>

<p>
David, Bradley<br>
<a href="https://ettereview.com/winter2025/david/">“No Quarters”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
Diaz, Jose Hernandez<br>
<a href="https://ettereview.com/fall2025/diaz/">“When Do Dahlias Bloom?” & “The Search”</a>* Issue 6, Fall 2025: Roulette<br>
*Selected for Best Microfiction 2026
</p>

<div class="center">E</div>

<p>
Eynon, Suzy<br>
<a href="https://ettereview.com/fall2025/eynon/">“Landlines”</a> Issue 6, Fall 2025: Roulette
</p>

<div class="center">F</div>

<p>
Fish, Kathy<br>
<a href="https://ettereview.com/archive/fall2023/fish/">“once mighty”</a> Issue 1, Fall 2023
</p>

<p>
Fletcher, Jonathan<br>
<a href="https://ettereview.com/fall2024/fletcher/">“Madre”</a> Issue 3, Fall 2024
</p>

<div class="center">G</div>

<p>
Groom, Kelle<br>
<a href="https://ettereview.com/fall2024/groom/">“Queen of the Prairie” & “Babylonian Almanac”*</a> Issue 3, Fall 2024<br>
*Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-3---Cavettes-Wrong-e2p13hn">Episode 3: Cavett(e)’s Wrong</a>
</p>

<div class="center">H</div>

<p>
Hecker, Jeffrey<br>
<a href="https://ettereview.com/archive/winter2024/hecker/">“Snub Mosley, 1905” & “Digable Planets, In Living Color, 1993”</a> Issue 2, Winter 2024: Cassette
</p>

<p>
Heil, Theodore<br>
<a href="https://www.ettereview.com/winter2026/heil/">“Rubbing Elbows”</a> Issue 7, Winter 2026
</p>

<p>
Hollmeyer, Jenn<br>
<a href="https://ettereview.com/archive/winter2024/hollmeyer/">“Sargassum” & “32 Wooden Penny Matches”</a> Issue 2, Winter 2024: Cassette  
</p>

<p>
Holman, Amy<br>
<a href="https://ettereview.com/spring2025/holman/">“Stuck”</a> Issue 5, Spring 2025<br>
Featured on <span class="italic">pod-ette</span> <a href="https://creators.spotify.com/pod/profile/mhoopes-us/episodes/Episode-5---The-Villa-of-Mysteries-e32k5kt">Episode 5: The Villa of the Mysteries</a>
</p>

<div class="center">I</div>

<div class="center">***</div>

<div class="center">J</div>

<p>
Joy, Bryana<br>
<a href="https://ettereview.com/fall2024/joy/">“What Ophelia Did” & “What Audrey One Did”</a> Issue 3, Fall 2024<br>
Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-3---Cavettes-Wrong-e2p13hn">Episode 3: Cavett(e)’s Wrong</a>
</p>

<div class="center">K</div>

<p>
Kaufman, Marc<br>
<a href="https://ettereview.com/archive/winter2024/kaufman/">“Bodies Up Ahead”</a> Issue 2, Winter 2024: Cassette<br>
<a href="https://www.ettereview.com/winter2026/kaufman/">“Speak of the Woman”</a> Issue 7, Winter 2026<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/episode/2hginEkbMScX5zNfaJLQVm">Episode 7: Time Keeps on Slippin’</a>
</p>

<p>
Khan, Veeda<br>
<a href="https://ettereview.com/fall2024/khan/">“Sound”</a> Issue 3, Fall 2024 
</p>

<p>
Knoll, Tricia<br>
<a href="https://ettereview.com/winter2025/knoll/">“The Only Explanation”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
Kowalsky, Rachel<br>
<a href="https://ettereview.com/fall2025/kowalsky/">“Dear Dolores”</a> Issue 6, Fall 2025: Roulette<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/episode/60GBYE6bYWWQJXf7YgdHLi">Episode 6—Roulette: Take a Chance on Art</a>
</p>

<div class="center">L</div>

<p>
Leibel, Matt<br> 
<a href="https://ettereview.com/fall2025/leibel/">“How to Buy a Snow Globe”</a>* Issue 6, Fall 2025: Roulette<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/episode/60GBYE6bYWWQJXf7YgdHLi">Episode 6—Roulette: Take a Chance on Art</a><br>
*Selected for Best Microfiction 2026
</p>

<p>
Li, Eliot<br> 
<a href="https://ettereview.com/archive/fall2023/li/">“Water Resistant, But Not Flame Retardant”</a> Issue 1, Fall 2023
</p>

<div class="center">M</div>

<p>
Macios, Lauren Becker<br>
<a href="https://ettereview.com/winter2025/macios/">“Holy Oil”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
Macdonald, Dawn<br>
<a href="https://www.ettereview.com/winter2026/macdonald/">“Leaf Rust” & “Lichen on Moss”</a> Issue 7, Winter 2026
</p>

<p>
Madsen, Krista<br>
<a href="https://ettereview.com/winter2025/madsen/">“Little Miss 1565”</a> Issue 4, Winter 2025: Planchette<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/show/5rlvi1S1p5ehxoTJAwITW2">Episode 4: The Looming</a>
</p>

<p>
Marino, Natalie<br>
<a href="https://www.ettereview.com/winter2026/marino/">“On Impossibility”</a> Issue 7, Winter 2026
</p>

<p>
Martelli, Jennifer<br>
<a href="https://ettereview.com/archive/fall2023/martelli/">“Forever Jung” & “Linden Leaves”</a> Issue 1, Fall 2023
</p>

<p>
Martin, Douglas A.<br>
<a href="https://ettereview.com/archive/fall2023/martin/">“Again That Year” & “Two One-Sentence Stories”</a> Issue 1, Fall 2023<br>
<a href="https://ettereview.com/archive/winter2024/martin/">“Accord Progression”</a> Issue 2, Winter 2024: Cassette
</p>

<p>
Marques, Amy<br>
<a href="https://ettereview.com/fall2024/marques/">“Rallentando”</a> Issue 3, Fall 2024
</p>

<p>
McGookey, Kathleen<br>
<a href="https://ettereview.com/fall2024/mcgookey/">“At the Far Edge” & “Night Had Done Its Part”</a> Issue 3, Fall 2024
</p>

<p>
McPherson, Karen<br>
<a href="https://ettereview.com/winter2025/mcpherson/">“Telepathy”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
McOmber, Adam<br>
<a href="https://www.ettereview.com/winter2026/mcomber/">“Things That Are Ghosts”</a> Issue 7, Winter 2026<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/episode/2hginEkbMScX5zNfaJLQVm">Episode 7: Time Keeps on Slippin’</a>
</p>

<p>
Mundell, Lynn<br>
<a href="https://ettereview.com/archive/winter2024/mundell/">“The Use of Salt”</a> Issue 2, Winter 2024: Cassette
</p>

<p>
Murphy, Devan<br>
<a href="https://ettereview.com/spring2025/murphy/">“The Children” & “The Daughter”</a> Issue 5, Spring 2025
</p>

<div class="center">N</div>

<div class="center">***</div>

<div class="center">O</div>

<div class="center">***</div>

<div class="center">P</div>

<p>
Pappas, Cheryl<br>
<a href="https://ettereview.com/archive/fall2023/pappas">“The King's Tower” & “That Old Fairy Tale”</a> Issue 1, Fall 2023
</p>

<p>
Pergola, S.D.<br>
<a href="https://ettereview.com/spring2025/pergola/">“Thoughts on the Incoming Snow”</a> Issue 5, Spring 2025<br>
Featured on <span class="italic">pod-ette</span> <a href="https://creators.spotify.com/pod/profile/mhoopes-us/episodes/Episode-5---The-Villa-of-Mysteries-e32k5kt">Episode 5: The Villa of the Mysteries</a>
</p>

<p>
Purdy, Jessica<br>
<a href="https://ettereview.com/archive/winter2024/purdy/">“Sitting Room and Woodshed (The ‘Lost Nutshell’)”</a> Issue 2, Winter 2024: Cassette
</p>

<div class="center">Q</div>

<div class="center">***</div>

<div class="center">R</div>

<p>
Raimondo, Emma<br>
<a href="https://ettereview.com/fall2025/raimondo/">“Death in Los Angeles”</a> Issue 6, Fall 2025: Roulette
</p>

<p>
Reale, Michelle<br>
<a href="https://ettereview.com/winter2025/reale/">“Let It Be Extravagant” & “Misinterpreted”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
Rich, Susan<br>
<a href="https://ettereview.com/fall2024/rich/">“When We Write Our Lives Sometimes, the Paragraphs Are Uneven”</a> Issue 3, Fall 2024
</p>

<div class="center">S</div>

<p>
Scott, M.A.<br>
<a href="https://ettereview.com/archive/fall2023/scott/">“Violet Magic” & “Blue Magic”</a> Issue 1, Fall 2023
</p>

<div class="center">T</div>

<p>
Tomarchio, Eileen<br>
<a href="https://ettereview.com/archive/fall2023/tomarchio/">“The Night They Found Her Body and Her Mother Told Reporters the Will of God Abides”</a> Issue 1, Fall 2023
</p>

<div class="center">U</div>

<p>
Ulrich, Cathy<br>
<a href="https://ettereview.com/fall2024/ulrich/">“Being the Murdered Jane Doe”</a> Issue 3, Fall 2024<br>
Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-3---Cavettes-Wrong-e2p13hn">Episode 3: Cavett(e)’s Wrong</a>
</p>

<div class="center">V</div>

<div class="center">***</div>>

<div class="center">W</div>

<p>
Wagner, Nora Esme<br>
<a href="https://ettereview.com/spring2025/wagner/">“Closer Than They Appear”</a> Issue 5, Spring 2025
</p>

<p>
Witte, Francine<br>
<a href="https://ettereview.com/archive/winter2024/witte/">“The Year We Gave Up the Music”</a> Issue 2, Winter 2024: Cassette
</p>

<div class="center">X</div>

<div class="center">***</div>

<div class="center">Y</div>

<div class="center">***</div>

<div class="center">Z</div>

<p>
Zambrano, Tara Isabel<br>
<a href="https://ettereview.com/winter2025/zambrano/">“We mistook the dragonfly for forever”* & “Luster”</a> Issue 4, Winter 2025: Planchette<br>
*Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/show/5rlvi1S1p5ehxoTJAwITW2">Episode 4: The Looming</a>
</p>

<p>
Zhang, Lucy<br>
<a href="https://ettereview.com/archive/winter2024/zhang">“Layered House”</a>* Issue 2, Winter 2024: Cassette<br>
*Selected for Best Small Fictions 2025
</p>



          <SocialNav
            blueskyUrl={"https://bsky.app/profile/ettereview.bsky.social"}
          />
        </section>
      </div>
    </div>

    <style>
      :root {
        --clr-bg-primary: var(--clr-bg-winter2026);
      }
      a {
    color: var(--clr-gray);
    &:hover {
      color: var(--clr-orange);
    }
  }
    </style>
    

  </MainLayout>
</SiteLayout>
