---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import SocialNav from "@components/SocialNav.astro";
import { Image } from "astro:assets";
import etteEnvelope from "@assets/etteenvelope.webp";
import { winter2026 } from "@editions/winter2026";
---

<SiteLayout title="Writer Index | -ette review">
  <MainLayout
    issueTitle={"Issue 7: Winter 2026"}
    issue={"winter2026"}
    authors={winter2026}
  >
    <div class="container-primary">
      <div class="text">
        <section>
          <div class="center">
            <h1><strong>Writer Index</strong></h1>
          </div>
          <p></p>
<div class="center">A</div>

<p>
  <strong>Agodon, Kelli Russell</strong><br>
  <a href="https://ettereview.com/archive/winter2024/agodon/">“Another Way to Say Divorce”* & “Box Where Four Women Look in Opposite Directions”</a> Issue 2, Winter 2024: Cassette<br>
    *Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-2---Cassette-e2gdsp1">Episode 2: Cassette</a>
</p>

<div class="center">B</div>

<p>
  <strong>Barlevi, Jessica</strong><br>
  <a href="https://ettereview.com/spring2025/barlevi/">“Forest of Light”* & “Gravity”</a> Issue 5, Spring 2025<br>
*Featured on <span class="italic">pod-ette</span> <a href="https://creators.spotify.com/pod/profile/mhoopes-us/episodes/Episode-5---The-Villa-of-Mysteries-e32k5kt">Episode 5: The Villa of the Mysteries</a>
</p>

<p>
  <strong>Barnes, Amy</strong><br>
  <a href="https://ettereview.com/archive/winter2024/barnes/">“Love Her Tender”</a> Issue 2, Winter 2024: Cassette
</p>

<p>
  <strong>Bertaina, Andrew</strong><br>
  <a href="https://ettereview.com/archive/fall2023/bertaina/">“If I Could Remake the World” & “My Lover and I”</a> Issue 1, Fall 2023<br>
  Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/pod-ette-e29e24p">Episode 1: “If I Could Remake the World”</a>
</p>

<p>
  <strong>Bidar, Patricia Q.</strong><br>
  <a href="https://ettereview.com/archive/fall2023/bidar/">“Kanreki”</a> Issue 1, Fall 2023
</p>

<p>
  <strong>Blum, Genia</strong><br>
  <a href="https://ettereview.com/archive/winter2024/blum/">“The Casino Tapes”</a> Issue 2, Winter 2024: Cassette
</p>

<div class="center">C</div>

<p>
  <strong>Cailler, Mathieu</strong><br>
  <a href="https://ettereview.com/spring2025/cailler/">“Four of a Kind” & “My Evening with Marilyn”</a> Issue 5, Spring 2025
</p>

<p>
  <strong>Camp, Lauren</strong><br>
  <a href="https://www.ettereview.com/winter2026/camp/">“The Bowl” & “A Spell Addressed to a Friend”</a> Issue 7, Winter 2026
</p>

<p>
  <strong>Carle, Avitus B.</strong><br>
  <a href="https://ettereview.com/archive/fall2023/carle/">“Breaker Boys”</a> Issue 1, Fall 2023
</p>

<p>
  <strong>Cronk, Laura</strong><br>
  <a href="https://ettereview.com/fall2025/cronk/">“The Chance”</a> Issue 6, Fall 2025: Roulette
</p>

<p>
  <strong>Czyzniejewski, Michael</strong><br>
  <a href="https://ettereview.com/archive/winter2024/czyzniejewski/">“Artichoke Heart”</a> Issue 2, Winter 2024: Cassette<br>
  Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-2---Cassette-e2gdsp1">Episode 2: Cassette</a>
</p>

<div class="center">D</div>

<p>
<strong>David, Bradley</strong><br>
<a href="https://ettereview.com/winter2025/david/">“No Quarters”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
<strong>Diaz, Jose Hernandez</strong><br>
<a href="https://ettereview.com/fall2025/diaz/">“When Do Dahlias Bloom?” & “The Search”</a>* Issue 6, Fall 2025: Roulette<br>
*Selected for Best Microfiction 2026
</p>

<div class="center">E</div>

<p>
<strong>Eynon, Suzy</strong><br>
<a href="https://ettereview.com/fall2025/eynon/">“Landlines”</a> Issue 6, Fall 2025: Roulette
</p>

<div class="center">F</div>

<p>
<strong>Fish, Kathy</strong><br>
<a href="https://ettereview.com/archive/fall2023/fish/">“once mighty”</a> Issue 1, Fall 2023
</p>

<p>
<strong>Fletcher, Jonathan</strong><br>
<a href="https://ettereview.com/fall2024/fletcher/">“Madre”</a> Issue 3, Fall 2024
</p>

<div class="center">G</div>

<p>
<strong>Groom, Kelle</strong><br>
<a href="https://ettereview.com/fall2024/groom/">“Queen of the Prairie” & “Babylonian Almanac”*</a> Issue 3, Fall 2024<br>
*Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-3---Cavettes-Wrong-e2p13hn">Episode 3: Cavett(e)’s Wrong</a>
</p>

<div class="center">H</div>

<p>
<strong>Hecker, Jeffrey</strong><br>
<a href="https://ettereview.com/archive/winter2024/hecker/">“Snub Mosley, 1905” & “Digable Planets, In Living Color, 1993”</a> Issue 2, Winter 2024: Cassette
</p>

<p>
<strong>Heil, Theodore</strong><br>
<a href="https://www.ettereview.com/winter2026/heil/">“Rubbing Elbows”</a> Issue 7, Winter 2026
</p>

<p>
<strong>Hollmeyer, Jenn</strong><br>
<a href="https://ettereview.com/archive/winter2024/hollmeyer/">“Sargassum” & “32 Wooden Penny Matches”</a> Issue 2, Winter 2024: Cassette  
</p>

<p>
<strong>Holman, Amy</strong><br>
<a href="https://ettereview.com/spring2025/holman/">“Stuck”</a> Issue 5, Spring 2025<br>
Featured on <span class="italic">pod-ette</span> <a href="https://creators.spotify.com/pod/profile/mhoopes-us/episodes/Episode-5---The-Villa-of-Mysteries-e32k5kt">Episode 5: The Villa of the Mysteries</a>
</p>

<div class="center">I</div>

<div class="center">***</div>

<div class="center">J</div>

<p>
<strong>Joy, Bryana</strong><br>
<a href="https://ettereview.com/fall2024/joy/">“What Ophelia Did” & “What Audrey One Did”</a> Issue 3, Fall 2024<br>
Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-3---Cavettes-Wrong-e2p13hn">Episode 3: Cavett(e)’s Wrong</a>
</p>

<div class="center">K</div>

<p>
<strong>Kaufman, Marc</strong><br>
<a href="https://ettereview.com/archive/winter2024/kaufman/">“Bodies Up Ahead”</a> Issue 2, Winter 2024: Cassette<br>
<a href="https://www.ettereview.com/winter2026/kaufman/">“Speak of the Woman”</a> Issue 7, Winter 2026<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/episode/2hginEkbMScX5zNfaJLQVm">Episode 7: Time Keeps on Slippin’</a>
</p>

<p>
<strong>Khan, Veeda</strong><br>
<a href="https://ettereview.com/fall2024/khan/">“Sound”</a> Issue 3, Fall 2024 
</p>

<p>
<strong>Knoll, Tricia</strong><br>
<a href="https://ettereview.com/winter2025/knoll/">“The Only Explanation”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
<strong>Kowalsky, Rachel</strong><br>
<a href="https://ettereview.com/fall2025/kowalsky/">“Dear Dolores”</a> Issue 6, Fall 2025: Roulette<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/episode/60GBYE6bYWWQJXf7YgdHLi">Episode 6—Roulette: Take a Chance on Art</a>
</p>

<div class="center">L</div>

<p>
<strong>Leibel, Matt</strong><br> 
<a href="https://ettereview.com/fall2025/leibel/">“How to Buy a Snow Globe”</a>* Issue 6, Fall 2025: Roulette<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/episode/60GBYE6bYWWQJXf7YgdHLi">Episode 6—Roulette: Take a Chance on Art</a><br>
*Selected for Best Microfiction 2026
</p>

<p>
<strong>Li, Eliot</strong><br> 
<a href="https://ettereview.com/archive/fall2023/li/">“Water Resistant, But Not Flame Retardant”</a> Issue 1, Fall 2023
</p>

<div class="center">M</div>

<p>
<strong>Macios, Lauren Becker</strong><br>
<a href="https://ettereview.com/winter2025/macios/">“Holy Oil”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
<strong>Macdonald, Dawn</strong><br>
<a href="https://www.ettereview.com/winter2026/macdonald/">“Leaf Rust” & “Lichen on Moss”</a> Issue 7, Winter 2026
</p>

<p>
<strong>Madsen, Krista</strong><br>
<a href="https://ettereview.com/winter2025/madsen/">“Little Miss 1565”</a> Issue 4, Winter 2025: Planchette<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/show/5rlvi1S1p5ehxoTJAwITW2">Episode 4: The Looming</a>
</p>

<p>
<strong>Marino, Natalie</strong><br>
<a href="https://www.ettereview.com/winter2026/marino/">“On Impossibility”</a> Issue 7, Winter 2026
</p>

<p>
<strong>Martelli, Jennifer</strong><br>
<a href="https://ettereview.com/archive/fall2023/martelli/">“Forever Jung” & “Linden Leaves”</a> Issue 1, Fall 2023
</p>

<p>
<strong>Martin, Douglas A.</strong><br>
<a href="https://ettereview.com/archive/fall2023/martin/">“Again That Year” & “Two One-Sentence Stories”</a> Issue 1, Fall 2023<br>
<a href="https://ettereview.com/archive/winter2024/martin/">“Accord Progression”</a> Issue 2, Winter 2024: Cassette
</p>

<p>
<strong>Marques, Amy</strong><br>
<a href="https://ettereview.com/fall2024/marques/">“Rallentando”</a> Issue 3, Fall 2024
</p>

<p>
<strong>McGookey, Kathleen</strong><br>
<a href="https://ettereview.com/fall2024/mcgookey/">“At the Far Edge” & “Night Had Done Its Part”</a> Issue 3, Fall 2024
</p>

<p>
<strong>McPherson, Karen</strong><br>
<a href="https://ettereview.com/winter2025/mcpherson/">“Telepathy”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
<strong>McOmber, Adam</strong><br>
<a href="https://www.ettereview.com/winter2026/mcomber/">“Things That Are Ghosts”</a> Issue 7, Winter 2026<br>
Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/episode/2hginEkbMScX5zNfaJLQVm">Episode 7: Time Keeps on Slippin’</a>
</p>

<p>
<strong>Mundell, Lynn</strong><br>
<a href="https://ettereview.com/archive/winter2024/mundell/">“The Use of Salt”</a> Issue 2, Winter 2024: Cassette
</p>

<p>
<strong>Murphy, Devan</strong><br>
<a href="https://ettereview.com/spring2025/murphy/">“The Children” & “The Daughter”</a> Issue 5, Spring 2025
</p>

<div class="center">N</div>

<div class="center">***</div>

<div class="center">O</div>

<div class="center">***</div>

<div class="center">P</div>

<p>
<strong>Pappas, Cheryl</strong><br>
<a href="https://ettereview.com/archive/fall2023/pappas">“The King's Tower” & “That Old Fairy Tale”</a> Issue 1, Fall 2023
</p>

<p>
<strong>Pergola, S.D.</strong><br>
<a href="https://ettereview.com/spring2025/pergola/">“Thoughts on the Incoming Snow”</a> Issue 5, Spring 2025<br>
Featured on <span class="italic">pod-ette</span> <a href="https://creators.spotify.com/pod/profile/mhoopes-us/episodes/Episode-5---The-Villa-of-Mysteries-e32k5kt">Episode 5: The Villa of the Mysteries</a>
</p>

<p>
<strong>Purdy, Jessica</strong><br>
<a href="https://ettereview.com/archive/winter2024/purdy/">“Sitting Room and Woodshed (The ‘Lost Nutshell’)”</a> Issue 2, Winter 2024: Cassette
</p>

<div class="center">Q</div>

<div class="center">***</div>

<div class="center">R</div>

<p>
<strong>Raimondo, Emma</strong><br>
<a href="https://ettereview.com/fall2025/raimondo/">“Death in Los Angeles”</a> Issue 6, Fall 2025: Roulette
</p>

<p>
<strong>Reale, Michelle</strong><br>
<a href="https://ettereview.com/winter2025/reale/">“Let It Be Extravagant” & “Misinterpreted”</a> Issue 4, Winter 2025: Planchette
</p>

<p>
<strong>Rich, Susan</strong><br>
<a href="https://ettereview.com/fall2024/rich/">“When We Write Our Lives Sometimes, the Paragraphs Are Uneven”</a> Issue 3, Fall 2024
</p>

<div class="center">S</div>

<p>
<strong>Scott, M.A.</strong><br>
<a href="https://ettereview.com/archive/fall2023/scott/">“Violet Magic” & “Blue Magic”</a> Issue 1, Fall 2023
</p>

<div class="center">T</div>

<p>
<strong>Tomarchio, Eileen</strong><br>
<a href="https://ettereview.com/archive/fall2023/tomarchio/">“The Night They Found Her Body and Her Mother Told Reporters the Will of God Abides”</a> Issue 1, Fall 2023
</p>

<div class="center">U</div>

<p>
<strong>Ulrich, Cathy</strong><br>
<a href="https://ettereview.com/fall2024/ulrich/">“Being the Murdered Jane Doe”</a> Issue 3, Fall 2024<br>
Featured on <span class="italic">pod-ette</span> <a href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/Episode-3---Cavettes-Wrong-e2p13hn">Episode 3: Cavett(e)’s Wrong</a>
</p>

<div class="center">V</div>

<div class="center">***</div>

<div class="center">W</div>

<p>
<strong>Wagner, Nora Esme</strong><br>
<a href="https://ettereview.com/spring2025/wagner/">“Closer Than They Appear”</a> Issue 5, Spring 2025
</p>

<p>
<strong>Witte, Francine</strong><br>
<a href="https://ettereview.com/archive/winter2024/witte/">“The Year We Gave Up the Music”</a> Issue 2, Winter 2024: Cassette
</p>

<div class="center">X</div>

<div class="center">***</div>

<div class="center">Y</div>

<div class="center">***</div>

<div class="center">Z</div>

<p>
<strong>Zambrano, Tara Isabel</strong><br>
<a href="https://ettereview.com/winter2025/zambrano/">“We mistook the dragonfly for forever”* & “Luster”</a> Issue 4, Winter 2025: Planchette<br>
*Featured on <span class="italic">pod-ette</span> <a href="https://open.spotify.com/show/5rlvi1S1p5ehxoTJAwITW2">Episode 4: The Looming</a>
</p>

<p>
<strong>Zhang, Lucy</strong><br>
<a href="https://ettereview.com/archive/winter2024/zhang">“Layered House”</a>* Issue 2, Winter 2024: Cassette<br>
*Selected for Best Small Fictions 2025
</p>



          <SocialNav
            blueskyUrl={"https://bsky.app/profile/ettereview.bsky.social"}
          />
        </section>
      </div>
    </div>

    <style>
      :root {
        --clr-bg-primary: var(--clr-bg-winter2026);
      }
      a {
    color: var(--clr-gray);
    &:hover {
      color: var(--clr-orange);
    }
  }
    </style>
    

  </MainLayout>
</SiteLayout>
