---
import { Image } from "astro:assets";

import SiteLayout from "../layouts/SiteLayout.astro";
import localEtteLogo from "@assets/ettelogo.webp";
---

<SiteLayout title="-ette review" description="-ette review">
  <div class="splash-page | lucida-grande">
    <header class="header">
      <h1 class="heading">
        <Image src={localEtteLogo} alt="-ette review logo." />
      </h1>
      <div class="subheading">
        <a href={import.meta.env.BASE_URL + "spring2025/"} class="line-height-1">Spring 2025</a>
        <a href={import.meta.env.BASE_URL + "winter2025/"} class="line-height-1">Winter 2025: Planchette</a>
        <a href={import.meta.env.BASE_URL + "fall2024/"} class="line-height-1">Fall 2024</a>
        <a href={import.meta.env.BASE_URL + "archive/winter2024/"} class="line-height-1">Winter 2024: Cassette</a>
        <a href={import.meta.env.BASE_URL + "archive/fall2023/"}class="line-height-1">Fall 2023</a>
      </div>
    </header>
    <main class="splash-container">
      <section class="ette-definition">
        <p>
          <dfn>-ette</dfn>
          <br />
          noun, suffix 1: little one
          <br />
          <span class="italic">
            cassette, roulette, planchette<br />
            lunette, baguette
          </span>
        </p>
      </section>
    </main>
  </div>
</SiteLayout>

<style lang="scss">
  .splash-page {
    background-image: url("../assets/lambette.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 30%;
    min-height: 1169px;
  }
  .header {
    display: block;
    padding-inline: 16px;
    padding-top: 16px;
  }
  .heading {
    display: block;
    width: min(100%, 450px);
    > :global(img) {
      display: block;
      height: auto;
      width: 100%;
    }
  }
  .subheading {
    > a {
      display: block;
      &:hover {
        color: var(--clr-gray);
      }
      + a {
        margin-top: 0.5rem;
      }
    }
    margin-left: min(76px, 17vw);
    margin-top: 1.25rem;
    font-size: var(--fs-500);
    color: var(--clr-orange);
  }
  .ette-definition {
    font-size: var(--fs-root);
    position: absolute;
    bottom: max(25%, 100px);
    left: min(15%, 250px);
  }
</style>
