---
const { authors, author, slug } = Astro.props;
const currentIndex = authors.findIndex((ath) => ath.slug === author.slug);
const nextAuthor = authors[(currentIndex + 1) % authors.length];
const prevAuthor =
  authors[(currentIndex - 1 + authors.length) % authors.length];
---

<ul class="author-nav | italic">
  {
    prevAuthor.slug !== "podette" && (
      <li>
        <a href={import.meta.env.BASE_URL + `${slug}/` + prevAuthor?.slug + "/"}>
          {prevAuthor?.name}
        </a>
      </li>
    )
  }
  {
    nextAuthor.slug !== "podette" && (
      <li>
        <a href={import.meta.env.BASE_URL + `${slug}/` + nextAuthor?.slug + "/"}>
          {nextAuthor?.name}
        </a>
      </li>
    )
  }
</ul>
<style lang="scss">
  .author-nav {
    display: flex;
    color: black;
    margin-top: 1em;
  }
  a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    transition: var(--nav-transition-in);
    line-height: 1;
    padding: .625rem 1.5rem;
  }
  li:first-of-type {
    > a {
      &::before {
        content: "<";
        display: grid;
        place-items: center;
        aspect-ratio: 1;
        width: 1.5rem;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: var(--clr-nav-hover);
        transition: var(--nav-transition-in);
      }
      &:hover {
        color: var(--clr-nav-hover);
        transition: var(--nav-transition-out);
        &::after {
          width: 100%;
          color: var(--clr-nav-hover);
          transition: var(--nav-transition-out);
        }
      }
    }
  }
  li:last-of-type {
    > a {
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: var(--clr-nav-hover);
        transition: var(--nav-transition-in);
      }
      &:hover {
        color: var(--clr-nav-hover);
        transition: var(--nav-transition-out);
        &::before {
          transition: var(--nav-transition-out);
          width: 100%;
        }
      }
      &::after {
        content: ">";
        display: inline-block;
        aspect-ratio: 1;
        width: 1.5rem;
      }
    }
  }
</style>
