---

---

<footer class="footer fs-root">
  <ul class="footer_links">
    <li>© -ette review</li>
  </ul>
</footer>

<style lang="scss">
  .footer {
    display: flex;
    padding: 1rem;
    background-color: #fff;
    color: black;
  }
</style>
