---
import NavToggler from "./NavToggler.astro";
import { winter2024 } from "@editions/winter2024";
---

<script>
  //dropdown menu
  let timer;
  const dropdown = document.querySelector(".dropdown");
  const dropdownButton = document.querySelector(".dropdown-button");
  const notDropdownLink = document.querySelector(".dropdown :not(a)");

  notDropdownLink.addEventListener("click", () => {
    const ariaExpanded = dropdown.getAttribute("aria-expanded");
    if (ariaExpanded === "false") {
      dropdown.setAttribute("aria-expanded", true);
    } else if (ariaExpanded === "true") {
      dropdown.setAttribute("aria-expanded", false);
    }
  });
  dropdown.addEventListener("mouseenter", () => {
    dropdown.setAttribute("aria-expanded", true);
    clearTimeout(timer);
  });

  dropdown.addEventListener("mouseleave", () => {
    timer = setTimeout(() => {
      dropdown.setAttribute("aria-expanded", false);
    }, 500);
  });
</script>

<nav class="nav-container">
  <NavToggler />
  <ul class="nav" id="nav" data-visible="false">
    <li aria-expanded="false" aria-haspopup="true" class="dropdown">
      <div class="dropdown__controls">
        <a href="/ette-review/winter2024">Issue 2: Winter 2024</a>
        <button class="dropdown__button"
          ><span class="sr-only">Menu</span>
        </button>
      </div>
      <div class="dropdown__menu-wrapper">
      <ul class="dropdown__menu">
        {
          winter2024.map((author) => (
            <li>
              <a href=`/winter2024/${author.slug}`>{author.name}</a>
            </li>
          ))
        }
        <li>
          <a href="/archive/fall2023">Archive</a>
        </li>
      </ul>
</div>
    </li>
    <li>
      <a href="/podette">Pod-ette</a>
    </li>
    <li>
      <a href="/about"> About</a>
    </li>
    <li>
      <a href="/submit"> Submit</a>
    </li>
    <li>
      <a href="/contact"> Contact</a>
    </li>
  </ul>
</nav>

<style lang="scss">
  .nav-container {
    --_padding-block: 1rem;
    --_transition-in: 200ms all ease-in;
    --_transition-out: 150ms all ease-in;
    display: flex;
    background-color: white;
    text-transform: uppercase;
    position: relative;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    &[data-visible="true"] {
      display: flex;
    }
  }
  .dropdown {
    position: relative;
    &[aria-expanded="true"] {
      > .dropdown__menu-wrapper {
      grid-template-rows: 1fr;
transition: var(--_transition-out);
      }
      .dropdown__button {
        rotate: -180deg;
	transition: var(--_transition-in);
      }
    }
  }
  .dropdown__controls {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    > a {
      padding-right: 0;
    }
  }
  .dropdown__button {
    display: block;
    aspect-ratio: 1;
    width: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='black' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: var(--_padding-block);
    transition: var(--_transition-out);
  }
  .dropdown__menu {
    overflow: hidden;
    transition: var(--_transition-out);
    > li + li {
      border-bottom: 1px solid rgb(235 235 235);
    }
  }
  .dropdown__menu-wrapper {
display: grid;
grid-template-rows: 0fr;
transition: var(--_transition-in);
  }
  a {
    display: block;
    padding: 0.75rem 1rem;
    text-align: center;
  }
</style>
