<script>
  const nav = document.querySelector(".nav");
  const navToggler = document.querySelector(".nav-toggler");
  navToggler.addEventListener("click", () => {
    const navVisibility = nav.getAttribute("data-visible");
    if (navVisibility === "false") {
      nav.setAttribute("data-visible", true);
      navToggler.setAttribute("aria-expanded", true);
    } else {
      nav.setAttribute("data-visible", false);
      navToggler.setAttribute("aria-expanded", false);
    }
  });
</script>
<button class="nav-toggler" aria-expanded="false"> </button>

<style>
  button {
    display: block;
    width: 3rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    cursor: pointer;
    &[aria-expanded="false"] {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='black' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5' /%3E%3C/svg%3E%0A");
    }
    &[aria-expanded="true"] {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='black' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' /%3E%3C/svg%3E%0A");
    }
  }
  @media (min-width: 768px) {
    button {
      display: none;
    }
  }
</style>
