---
import SiteLayout from "src/layouts/SiteLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import SocialNav from "@components/SocialNav.astro";
import city from "@assets/city.jpg";
import poster from "@assets/etteposter3.jpg"
import { Image } from "astro:assets";
import { fall2025 } from "@editions/fall2025";
---

<SiteLayout title="Merchandise | -ette review">
  <MainLayout
    issueTitle={"Issue 6: Fall 2025"}
    issue={"fall2025"}
    authors={fall2025}
  >
<div class="text">
<section>
  <p>Beth's novel <a href="https://regal-house-publishing.mybigcommerce.com/the-city-beneath-her/"><span class="italic">The City Beneath Her</span></a> is now available from Regal House Publishing.</p>
  <Image src={city} alt="Review of The City Beneath Her by Beth Hahn" width="600" />

  <div class="center">***</div>
  
  <p></p>
  <p>Also available: <span class="italic">-ette review</span> “planchette” poster.</p>
  <p>Printed on 110 lb Crane's Lettra Cotton at Fireball Printing in Philadelphia. 11 x 17". Signed and numbered by Beth Hahn, illustrator and co-editor of <span class="italic">-ette.</span></p>
  <Image src={poster} alt="Planchette poster" width="400" />
  <p>Email <a href="mailto:merch@ettereview.com">merch@ettereview.com</a> for more information.</p>

</section>
<SocialNav
    blueskyUrl={"https://bsky.app/profile/ettereview.bsky.social"}
          />
</div>

    <style>
      :root {
        --clr-bg-primary: var(--clr-bg-fall2025);
      }
      a {
    color: var(--clr-gray);
    &:hover {
      color: var(--clr-orange);
    }
  }
    </style>    
 
  </MainLayout>
</SiteLayout>
