---
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import Footer from "@components/Footer.astro";
const { issueTitle, issue, authors } = Astro.props;
---

<div class="main-layout | bg-primary fs-200">
  <Header issueTitle={issueTitle} issue={issue} authors={authors}  />
  <Main>
    <div class="container-primary">
      <slot />
    </div>
  </Main>
  <Footer />
</div>
<style>
  .main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    line-height: 1.5;
    color: var(--clr-gray);
  }
  :global(main) {
    margin-block: 4rem;
  }
</style>
