---
import "../styles/styles.scss";

const { title, description, ogimage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={ogimage} />
    <title>{title}</title>
  </head>
  <body class="body | bg-primary times">
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  .body {
    min-height: 100vh;
  }
  :global(p + p) {
    margin-top: 1em;
  }
</style>
