---
import SiteLayout from "@layouts/SiteLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import SocialNav from "@components/SocialNav.astro";
import { Image } from "astro:assets";
import cassette from "@assets/cassette.webp";
import { spring2025 } from "@editions/spring2025";
---

<SiteLayout title="Submit | -ette review">
  <MainLayout
    issueTitle={"Issue 5: Spring 2025"}
    issue={"spring2025"}
    authors={spring2025}
  >
    <div class="text">
      <section>
        <p><span class="bold">All submissions are currently closed.</span></p>

      <section>
        <h2 class="bold" id="submissions">Submission Guidelines</h2>

        <ul class="bullet-list">
          <li>
            <span class="italic">-ette</span> loves small form: prose poetry, micro
            and flash fiction. To get an idea of what we like, please read our latest
            issue. Before sending work, check out the theme.
          </li>
          <li>
            Please send one flash or up to two micro fictions and/or prose poems
            (we do not accept poetry or nonfiction submissions at this time).
          </li>
          <li>Total submission word count should not exceed 1,000 words.</li>
          <li>
            Send your work as a PDF. Include your name and contact information
            on the first page. Number the pages. Use a common, 12-point font.
            Please double-space fiction. Prose poetry may be single-spaced.
          </li>
          <li>
            Please include a short bio as well as your social media handles with
            your submission.&nbsp;
          </li>
          <li>
            Work submitted to <span class="italic">-ette</span> must be wholly original.
            Do not submit plagiarized or AI-generated work to <span
              class="italic">-ette.</span
            >
          </li>
          <li>
            We take simultaneous submissions, but please notify us immediately
            if your work is accepted elsewhere.
          </li>
          <li>
            Regular response times vary, but we try to respond within 1–3
            months.
          </li>
          <li>
            If your work is accepted for publication, we ask for first-time
            publication rights and the right to retain the work in our archives.
            If republished elsewhere, please credit <span class="italic"
              >-ette review.
            </span>
          </li>
          <li>
            We ask that writers only submit once per submission period.
            Contributors should wait six months to resubmit.
          </li>
          <li>
            <span class="italic">-ette</span> will not read or publish racist, homophobic,
            anti-trans, or misogynistic writing.
          </li>
          <li>
            <span class="italic">-ette</span> is a tiny operation of two, so unfortunately,
            we cannot offer payment at this time. You will, however, receive the
            drawing that accompanies your published piece. In case of publication,
            Beth will want to send it to you.
          </li>
          <li>To hear more from <span class="italic">-ette</span> editors, Beth Hahn
            and Nora Maynard, on what we're looking for, listen to <span
              class="italic">pod-ette</span
            > Episode 1 <a
              href="https://podcasters.spotify.com/pod/show/mhoopes-us/episodes/pod-ette-e29e24p"
              >here</a
            >.
          </li>
          <li>
            Ready? Email work to <a
              class="link"
              href="mailto:submissions@ettereview.com"
              >submissions@ettereview.com</a
            >. In the subject line, include your name and the category of
            submission (fiction, micro, prose poetry).
          </li>
        </ul>

        <p></p>

        <p>
          Your <span class="italic">-ette</span> editors,<br />
          Beth Hahn (she/her) and Nora Maynard (she/her)
        </p>
      </section>
      <SocialNav
            blueskyUrl={"https://bsky.app/profile/ettereview.bsky.social"}
          />
    </div>
  </MainLayout>
</SiteLayout>

<style>

:root {
    --clr-bg-primary: var(--clr-bg-spring2025);
  }

a {
    color: var(--clr-gray);
    &:hover {
      color: var(--clr-orange);
    }
  }
  h2 {
    margin-top: 1em;
  }
</style>
