:root {
	--clr-bg-fall2024: #c7a378;
	--clr-bg-winter2024: #e3ebf5;
	--clr-bg-fall2023: #f5deb3;
	--clr-bg-primary: var(--clr-bg-winter2024);
	--clr-gray: #63666a;
	--clr-orange: orange;
	--clr-light-gray: #CC5500;
	--clr-nav-hover: #a23f4b;
}

.bg-primary {
	background-color: var(--clr-bg-primary);
}
