:root {
	/* Type size */
	--fs-root: 1rem;
	--type-scale: 1.25;
	--fs-100: calc(var(--fs-root) * var(--type-scale));
	--fs-200: calc(var(--fs-100) * var(--type-scale));
	--fs-300: calc(var(--fs-200) * var(--type-scale));
	--fs-400: calc(var(--fs-300) * var(--type-scale));
	--fs-500: calc(var(--fs-400) * var(--type-scale));
	--fs-600: calc(var(--fs-500) * var(--type-scale));
	--fs-700: calc(var(--fs-600) * var(--type-scale));
	--fs-800: calc(var(--fs-700) * var(--type-scale));
	--fs-900: calc(var(--fs-800) * var(--type-scale));
}
.fs-root {
font-size: var(--fs-root);
}
.fs-100 {
font-size: var(--fs-100);
}
.fs-200 {
font-size: var(--fs-200);
}
.fs-300 {
font-size: var(--fs-300);
}
.fs-400 {
font-size: var(--fs-400);
}
.fs-500 {
font-size: var(--fs-500);
}
.fs-600 {
font-size: var(--fs-600);
}
.fs-700 {
font-size: var(--fs-700);
}
.fs-800 {
font-size: var(--fs-800);
}
.fs-900 {
font-size: var(--fs-900);
}
.times {
font-family: "Times", serif;
}
.lucida-grande {
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif
}
/* Text indent*/
.text-indent {
	text-indent: 1em;
}

/* Center text */
.center {
	text-align: center;
	+ * {
margin-top: 1em;
	}
}
.justify {
text-align: justify;
}
/* Bold, italic stylings */
.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

:is(strong, b) {
	font-weight: bold;
}

:is(em, i, cite) {
	font-weight: italic;
}

/* Space between paragraphs */
:is(p + *) {
	margin-top: 1em;
}

/* Utility classes, misc */

.bullet-list {
	list-style-type: disc;
	list-style-position: inside;
}

.bullet-list > li + li {
	margin-top: 1em;
}

.number-list {
	list-style-type: decimal;
	list-style-position: inside;
}

.number-list > li + li {
	margin-top: 1em;
}

.line-height-1 {
	line-height: 1;
}

.bio {
font-size: var(--fs-100);
a {
    color: var(--clr-gray);
    &:hover {
      color: var(--clr-orange);
    }
  }
}
